{% extends 'publications/base.html' %}
{% block content %}
    {% load static %}
    {% load publication_tag %}

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% if user.is_authenticated %}
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-primary"
                                   href="{% url 'publications:createpublication' %}">
                                    Добавить новый пост
                                </a>
                            </div>
                        {% endif %}
                        <div class="row">

                            {% for publication in free_publication_all %}
                                <div class="col-8 mt-4 mx-auto">
                                    <div class="card mb-4 box-shadow">
                                        <div class="card-header d-flex align-items-center justify-content-center"
                                             style="height: 100px">

                                            <div class="col-md-9 gy-3">
                                                <a href="{% url "publications:viewpublication" publication.pk %}"
                                                   style="text-decoration: none; color: black"><h4
                                                        class="my-0 font-weight-normal">{{ publication.header|slice:":20" }}</h4>
                                                </a>
                                            </div>
                                            <div class="col-md-3 gy-3">
                                                {#                                            <p>@ {{ publication.owner.get_full_name }} {{ publication.owner.pk }}</p>#}
                                                <a href="{% url "publications:author_publication_list" publication.owner.pk %}"
                                                   style="text-decoration: none; color: black">
                                                    <p
                                                    class="my-0 font-weight-normal">
                                                        @ {{ publication.owner.get_full_name }} {{ publication.owner.pk }}
                                                    </p>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <ul class="list-unstyled mt-3 mb-6 text-start m-3">


                                                {% if publication.image == '' %}
                                                    {% if not publication.video == '' %}
                                                        <video
                                                                controls
                                                                src="{{ publication.video|mediapathvideo }}"
                                                                muted
                                                        >Sorry, your browser doesn't support embedded videos
                                                        </video>
                                                    {% else %}
                                                        <img class="card-img-top "
                                                             src="{{ publication.image|mediapath }}"
                                                             alt="Card image cap">
                                                    {% endif %}
                                                {% else %}
                                                    <img class="card-img-top "
                                                         src="{{ publication.image|mediapath }}"
                                                         alt="Card image cap">
                                                    <p>Видео внутри поста...</p>
                                                {% endif %}
                                                <a href="{% url "publications:viewpublication" publication.pk %}"
                                                   style="text-decoration: none; color: black"><h4
                                                        class="my-0 ">{{ publication.content|slice:":70" }}...</h4>
                                                </a>
                                                <a>Просмотров: {{ publication.quantity_of_views }}</a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
