{% extends 'publications/base.html' %}
{% load publication_tag %}
{% load static %}
{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead"> Смотри уникальный контент</p>
            <a class="btn btn-primary" href="{% url 'publications:publication_list' %}">Все посты</a>
            <a class="btn btn-primary" href="{% url 'publications:paid_publication_list' %}">Посты по подписке</a>
            <a class="btn btn-primary" href="{% url 'publications:free_publication_list' %}">Бесплатные посты</a>

    </div>
    <div class="py-5">
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <p>Самое свежее из постов:</p>
                    <div class="row">
{#                        {% for publication in publication_list %}#}
                        {% for publication in publication_list %}
                            <div class="col-4 mt-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-header d-flex align-items-center justify-content-center"
                                         style="height: 100px">
                                        <h4 class="my-0 font-weight-normal">{{ publication.header }}</h4>
                                    </div>

                                    <div class="card-body">
                                        <ul class="list-unstyled mt-3 mb-6 text-start m-3">

                                            <img class="card-img-top"
                                                 src="{{ publication.image|mediapath }}"
                                                 alt="Card image cap">

                                        </ul>
                                        <p>{% if publication.content|length <= 50 %}
                                            <li>{{ publication.content }}</li>
                                        {% else %}
                                            <li>{{ publication.content|slice:":50" }}...</li>
                                        {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
